<div class="container">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="exampleInputPassword" [(ngModel)]='inputUser'>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="inputPass">
    </div>
    <button type="button" class="btn btn-primary" (click)="login()">Submit</button>
    <button type="button" class="btn btn-primary" (click)="create()">Crear</button>
</div>