<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="showAlumn()">Alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="showAdd()">Añadir alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<ng-container *ngIf="showAlumns">
  <app-show-alumns></app-show-alumns>
</ng-container>

<ng-container *ngIf="showAddTable">
  <app-add-alumn></app-add-alumn>
</ng-container>